In [36]:
import pandas
import matplotlib.pyplot as plt

enade2017=pandas.read_csv("MICRODADOS_ENADE_2017.txt", sep=';',dtype={"DS_VT_ESC_OFG": str, 
                                                                               'DS_VT_ESC_OCE':str,
                                                                              'DS_VT_ACE_OCE':str,
                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                              'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str})

In [37]:
enade2017.columns[0:10]

Index(['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO',
       'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO'],
      dtype='object')

In [38]:
'''
NT_GER
Nota bruta da prova - Média ponderada da formação geral (25%) e componente específico (75%). (valor de 0 a 100)
min = 0
max = 98,10

NT_FG
Nota bruta na formação geral - Média ponderada da parte objetiva (60%) e discursiva (40%) na formação geral. (valor de 0 a 100)
min = 0
max = 99,4

NT_CE
Nota bruta no componente específico - Média ponderada da parte objetiva (85%) e discursiva (15%) no componente específico. (valor de 0 a 100)
min = 0
max = 100

CO_GRUPO
Código da área de enquadramento do curso no Enade
Entre 21 e 6409

QE_I13
Ao longo da sua trajetória acadêmica, você recebeu algum tipo de bolsa acadêmica? No caso de haver mais de uma opção, marcar apenas a bolsa de maior duração.
A = Nenhum.
B = Bolsa de iniciação científica.
C = Bolsa de extensão.
D = Bolsa de monitoria/tutoria.
E = Bolsa PET.
F = Outro tipo de bolsa acadêmica.

CO_IES
Código da IES (e-Mec)
Entre 1 e 19739 (Identificação da IES conforme e-MEC)
'''

tabela = pandas.DataFrame(enade2017, columns=['NT_GER', 'NT_FG', 'NT_CE', 'QE_I13', 'CO_IES'])
tabela.head(10)

  NT_GER NT_FG NT_CE QE_I13  CO_IES
0   52,6  64,1  48,7      A       1
1   63,1  82,1  56,7      A       1
2   33,7  52,5  27,4      D       1
3   58,1  72,6  53,2      A       1
4   46,3  73,2  37,3      A       1
5   64,2  80,7  58,7      D       1
6   41,4  43,0  40,8      D       1
7   48,8  45,1  50,0      A       1
8   52,9  66,9  48,2      A       1
9   62,7  82,3  56,2      D       1

In [39]:
# limpeza dos dados
# substitui vírgula por ponto
tabela['NT_GER'] = tabela['NT_GER'].str.replace(',', '.')
tabela['NT_FG'] = tabela['NT_FG'].str.replace(',', '.')
tabela['NT_CE'] = tabela['NT_CE'].str.replace(',', '.')
print (tabela['NT_GER'])
print (tabela['NT_FG'])
print (tabela['NT_CE'])

#observe os NaN (not a number)

0         52.6
1         63.1
2         33.7
3         58.1
4         46.3
5         64.2
6         41.4
7         48.8
8         52.9
9         62.7
10        51.9
11        58.4
12        77.7
13        37.5
14        66.4
15        71.5
16        57.8
17        62.7
18        75.1
19        50.5
20        46.1
21        44.1
22        47.9
23        55.1
24        73.5
25        60.4
26        62.7
27        49.5
28        44.9
29        27.7
          ...
537406     NaN
537407     NaN
537408     NaN
537409     NaN
537410     NaN
537411     NaN
537412     NaN
537413     NaN
537414     NaN
537415     NaN
537416     NaN
537417     NaN
537418     NaN
537419     NaN
537420     NaN
537421     NaN
537422     NaN
537423     NaN
537424     NaN
537425     NaN
537426     NaN
537427     NaN
537428     NaN
537429     NaN
537430     NaN
537431     NaN
537432     NaN
537433     NaN
537434     NaN
537435     NaN
Name: NT_GER, Length: 537436, dtype: object
0         64.1
1         82.1
2         52.5
3         72.6
4         73.2
5         80.7
6         43.0
7         45.1
8         66.9
9         82.3
10        61.6
11        60.6
12        59.3
13        30.0
14        88.7
15        75.6
16        70.6
17        75.3
18        78.0
19        51.2
20        75.6
21        68.3
22        67.5
23        81.5
24        96.4
25        70.1
26        92.8
27        83.0
28        61.6
29        45.0
          ...
537406     NaN
537407     NaN
537408     NaN
537409     NaN
537410     NaN
537411     NaN
537412     NaN
537413     NaN
537414     NaN
537415     NaN
537416     NaN
537417     NaN
537418     NaN
537419     NaN
537420     NaN
537421     NaN
537422     NaN
537423     NaN
537424     NaN
537425     NaN
537426     NaN
537427     NaN
537428     NaN
537429     NaN
537430     NaN
537431     NaN
537432     NaN
537433     NaN
537434     NaN
537435     NaN
Name: NT_FG, Length: 537436, dtype: object
0         48.7
1         56.7
2         27.4
3         53.2
4         37.3
5         58.7
6         40.8
7         50.0
8         48.2
9         56.2
10        48.7
11        57.7
12        83.8
13        40.0
14        58.9
15        70.1
16        53.5
17        58.5
18        74.1
19        50.3
20        36.3
21        36.0
22        41.3
23        46.3
24        65.9
25        57.2
26        52.7
27        38.3
28        39.3
29        21.9
          ...
537406     NaN
537407     NaN
537408     NaN
537409     NaN
537410     NaN
537411     NaN
537412     NaN
537413     NaN
537414     NaN
537415     NaN
537416     NaN
537417     NaN
537418     NaN
537419     NaN
537420     NaN
537421     NaN
537422     NaN
537423     NaN
537424     NaN
537425     NaN
537426     NaN
537427     NaN
537428     NaN
537429     NaN
537430     NaN
537431     NaN
537432     NaN
537433     NaN
537434     NaN
537435     NaN
Name: NT_CE, Length: 537436, dtype: object

In [40]:
'''
No arquivo 'Dicionário de variáveis dos Microdados do Enade_Edição 2017' descreve que:
o codigo 222 no campo TP_PR_GER significa ausente 
556 e 888 são participações desconsideradas.
Portanto, algumas notas podem ser desconsideradas dependendo do seu objetivo, 
e aqui, será de calcular a média daqueles que fizeram a prova.
'''
tabela = tabela.loc[(tabela['NT_GER'].notnull())]
print(tabela)

       NT_GER NT_FG NT_CE QE_I13  CO_IES
0        52.6  64.1  48.7      A       1
1        63.1  82.1  56.7      A       1
2        33.7  52.5  27.4      D       1
3        58.1  72.6  53.2      A       1
4        46.3  73.2  37.3      A       1
5        64.2  80.7  58.7      D       1
6        41.4  43.0  40.8      D       1
7        48.8  45.1  50.0      A       1
8        52.9  66.9  48.2      A       1
9        62.7  82.3  56.2      D       1
10       51.9  61.6  48.7      F       1
11       58.4  60.6  57.7      A       1
12       77.7  59.3  83.8      A       1
13       37.5  30.0  40.0      A       1
14       66.4  88.7  58.9      A       1
15       71.5  75.6  70.1      A       1
16       57.8  70.6  53.5      A       1
17       62.7  75.3  58.5      D       1
18       75.1  78.0  74.1      D       1
19       50.5  51.2  50.3      D       1
20       46.1  75.6  36.3      D       1
21       44.1  68.3  36.0      F       1
22       47.9  67.5  41.3      A       1
23       55.1  81.5  46.3      A       1
24       73.5  96.4  65.9      D       1
25       60.4  70.1  57.2      A       1
26       62.7  92.8  52.7      D       1
27       49.5  83.0  38.3      F       1
28       44.9  61.6  39.3      A       1
29       27.7  45.0  21.9      A       1
...       ...   ...   ...    ...     ...
534887   43.8  52.5  40.9      A      21
534888   46.9  45.2  47.4      E      21
534890   48.2  41.2  50.5      B      21
534891   49.6  37.5  53.6      A      21
534892   63.2  60.0  64.2      A      21
534893   31.9  51.7  25.3      A      21
534895   71.5  63.1  74.3      B      21
534896   59.6  68.3  56.7      B      21
534897   15.1  15.0  15.1      E      21
534898   44.7  30.0  49.6      A      21
534900   30.8  35.5  29.2      A      21
534901   16.3  22.5  14.2      B      21
534902   66.3  56.0  69.7      A      21
534903   34.9  56.0  27.8      A      21
534904   71.9  63.3  74.7      A      21
534905   56.0  45.0  59.6      A      21
534906   45.9  39.6  48.0      F      21
534907   43.3  50.1  41.0      A      21
534908   68.4  69.1  68.2      A      21
534909   39.3  54.4  34.3      A      21
534910   69.6  63.1  71.7      B      21
534911   53.8  50.1  55.0      A      21
534912   15.2   7.5  17.7      A      21
534913   59.8  60.4  59.6      B      21
534914   42.7  37.4  44.4      B      21
534915   35.6  21.2  40.4      A      21
534916   66.1  65.9  66.2      A      21
534917   70.2  51.7  76.3      A      21
534918   51.9  15.0  64.2      D      21
534919   52.8  72.8  46.1      B      21

[449932 rows x 5 columns]

In [41]:
# converte de str para float
tabela['NT_GER'] = pandas.to_numeric(tabela['NT_GER'])
tabela['NT_FG'] = pandas.to_numeric(tabela['NT_FG'])
tabela['NT_CE'] = pandas.to_numeric(tabela['NT_CE'])
print(tabela['NT_GER'])
print(tabela['NT_GER'].mean())
print(tabela['NT_FG'].mean())
print(tabela['NT_CE'].mean())

0         52.6
1         63.1
2         33.7
3         58.1
4         46.3
5         64.2
6         41.4
7         48.8
8         52.9
9         62.7
10        51.9
11        58.4
12        77.7
13        37.5
14        66.4
15        71.5
16        57.8
17        62.7
18        75.1
19        50.5
20        46.1
21        44.1
22        47.9
23        55.1
24        73.5
25        60.4
26        62.7
27        49.5
28        44.9
29        27.7
          ...
534887    43.8
534888    46.9
534890    48.2
534891    49.6
534892    63.2
534893    31.9
534895    71.5
534896    59.6
534897    15.1
534898    44.7
534900    30.8
534901    16.3
534902    66.3
534903    34.9
534904    71.9
534905    56.0
534906    45.9
534907    43.3
534908    68.4
534909    39.3
534910    69.6
534911    53.8
534912    15.2
534913    59.8
534914    42.7
534915    35.6
534916    66.1
534917    70.2
534918    51.9
534919    52.8
Name: NT_GER, Length: 449932, dtype: float64
43.52396851079471
51.42650978369732
40.873107269555064

In [46]:
tabela['NT_GER'].describe()

count    449932.000000
mean         43.523969
std          14.080110
min           0.000000
25%          33.400000
50%          42.900000
75%          53.100000
max          98.100000
Name: NT_GER, dtype: float64

In [47]:
tabela['NT_FG'].describe()

count    449932.000000
mean         51.426510
std          17.614564
min           0.000000
25%          39.400000
50%          52.300000
75%          64.000000
max          99.400000
Name: NT_FG, dtype: float64

In [48]:
tabela['NT_CE'].describe()

count    449932.000000
mean         40.873107
std          15.484444
min           0.000000
25%          29.600000
50%          40.000000
75%          51.400000
max         100.000000
Name: NT_CE, dtype: float64

In [43]:
# outros comandos
print('indice da primeira maior nota: ', tabela['NT_GER'].idxmax())
print('Maior nota: ', tabela['NT_GER'][72257])
print(tabela['NT_GER'].idxmax())

indice da primeira maior nota:  72257
Maior nota:  98.1
72257

In [50]:
# Calcula a média de quem não recebeu qualquer tipo de bolsa
# A = Nenhum
sembolsa = tabela[tabela['QE_I13']=='A']
print(sembolsa)
sembolsa.describe()

        NT_GER  NT_FG  NT_CE QE_I13  CO_IES
0         52.6   64.1   48.7      A       1
1         63.1   82.1   56.7      A       1
3         58.1   72.6   53.2      A       1
4         46.3   73.2   37.3      A       1
7         48.8   45.1   50.0      A       1
8         52.9   66.9   48.2      A       1
11        58.4   60.6   57.7      A       1
12        77.7   59.3   83.8      A       1
13        37.5   30.0   40.0      A       1
14        66.4   88.7   58.9      A       1
15        71.5   75.6   70.1      A       1
16        57.8   70.6   53.5      A       1
22        47.9   67.5   41.3      A       1
23        55.1   81.5   46.3      A       1
25        60.4   70.1   57.2      A       1
28        44.9   61.6   39.3      A       1
29        27.7   45.0   21.9      A       1
30        78.9   82.7   77.6      A       1
31        40.6   86.9   25.1      A       1
34        35.5   36.0   35.3      A       1
35        59.6   37.5   66.9      A       1
37        54.8   55.6   54.5      A       1
38        49.8   46.1   51.0      A       1
39        60.9   64.5   59.7      A       1
41        30.7   31.8   30.3      A       1
48        54.6   67.2   50.4      A       1
49        26.1   36.8   22.5      A       1
53        63.8   81.8   57.8      A       1
56        15.4   17.2   14.8      A       1
57        48.8   56.1   46.4      A       1
...        ...    ...    ...    ...     ...
534875    31.9   47.3   26.7      A    1446
534876    48.7   55.1   46.5      A    1446
534877    55.1   77.6   47.6      A    1446
534878    33.1   55.1   25.7      A    1446
534879    47.2   59.3   43.2      A    1446
534880    66.0   77.4   62.2      A    1446
534881    44.3   56.9   40.1      A    1446
534882    36.2   49.5   31.7      A    1446
534883    54.5   55.5   54.1      A    1446
534884    66.2   81.0   61.3      A    1446
534885    54.7   68.8   50.0      A    1446
534886    46.5   61.5   41.5      A    1446
534887    43.8   52.5   40.9      A      21
534891    49.6   37.5   53.6      A      21
534892    63.2   60.0   64.2      A      21
534893    31.9   51.7   25.3      A      21
534898    44.7   30.0   49.6      A      21
534900    30.8   35.5   29.2      A      21
534902    66.3   56.0   69.7      A      21
534903    34.9   56.0   27.8      A      21
534904    71.9   63.3   74.7      A      21
534905    56.0   45.0   59.6      A      21
534907    43.3   50.1   41.0      A      21
534908    68.4   69.1   68.2      A      21
534909    39.3   54.4   34.3      A      21
534911    53.8   50.1   55.0      A      21
534912    15.2    7.5   17.7      A      21
534915    35.6   21.2   40.4      A      21
534916    66.1   65.9   66.2      A      21
534917    70.2   51.7   76.3      A      21

[330169 rows x 5 columns]

              NT_GER          NT_FG          NT_CE         CO_IES
count  330169.000000  330169.000000  330169.000000  330169.000000
mean       42.054779      49.963766      39.401765    1437.981852
std        13.556079      17.314441      14.904058    2486.953151
min         0.000000       0.000000       0.000000       1.000000
25%        32.300000      38.000000      28.500000     322.000000
50%        41.400000      50.800000      38.500000     595.000000
75%        51.200000      62.400000      49.300000    1491.000000
max        98.100000      99.400000     100.000000   19739.000000

In [51]:
# Calcula a média de quem recebeu qualquer tipo de bolsa
# B, C, D, E, F = Nenhum
combolsa = tabela[tabela['QE_I13'] != 'A']
print(combolsa)
combolsa.describe()

        NT_GER  NT_FG  NT_CE QE_I13  CO_IES
2         33.7   52.5   27.4      D       1
5         64.2   80.7   58.7      D       1
6         41.4   43.0   40.8      D       1
9         62.7   82.3   56.2      D       1
10        51.9   61.6   48.7      F       1
17        62.7   75.3   58.5      D       1
18        75.1   78.0   74.1      D       1
19        50.5   51.2   50.3      D       1
20        46.1   75.6   36.3      D       1
21        44.1   68.3   36.0      F       1
24        73.5   96.4   65.9      D       1
26        62.7   92.8   52.7      D       1
27        49.5   83.0   38.3      F       1
32        59.9   59.7   60.0      B       1
33        67.6   67.4   67.6      D       1
36        47.7   63.9   42.3      D       1
42        26.8   38.6   22.9      C       1
43        52.4   43.4   55.4      E       1
44        31.9   36.4   30.4      F       1
45        63.9   67.3   62.8      B       1
47        59.8   56.7   60.8      F       1
50        45.5   59.1   41.0      F       1
52        61.5   62.5   61.2      E       1
54        39.4   66.6   30.3      F       1
55        36.1   22.6   40.6      F       1
59        50.7   51.7   50.3      F       1
64        43.2   64.7   36.0      F       1
65        44.6   45.0   44.4      D       1
66        31.2   35.8   29.6      F       1
68        55.9   68.9   51.6      C       1
...        ...    ...    ...    ...     ...
534743    58.3   65.3   56.0      B     586
534745    70.6   67.1   71.8      D     586
534747    56.4   53.8   57.3      D     586
534750    42.4   51.7   39.3      D     586
534754    35.0   40.0   33.3      B     586
534756    35.5   37.5   34.8      B     586
534759    47.6   15.0   58.5      B     586
534762    55.6   46.3   58.7      B     586
534763    56.1   50.2   58.1      B     586
534765    59.0   73.2   54.2      B     586
534768    56.7   76.7   50.0      D     586
534772    47.1   62.3   42.0      F     586
534773    64.0   71.0   61.6      B     586
534775    63.0   71.6   60.1      D     586
534777    77.4   96.2   71.1      D     586
534778    74.1   76.4   73.3      B     586
534780    54.9   62.1   52.5      D     586
534781    33.9   61.0   24.9      C     586
534888    46.9   45.2   47.4      E      21
534890    48.2   41.2   50.5      B      21
534895    71.5   63.1   74.3      B      21
534896    59.6   68.3   56.7      B      21
534897    15.1   15.0   15.1      E      21
534901    16.3   22.5   14.2      B      21
534906    45.9   39.6   48.0      F      21
534910    69.6   63.1   71.7      B      21
534913    59.8   60.4   59.6      B      21
534914    42.7   37.4   44.4      B      21
534918    51.9   15.0   64.2      D      21
534919    52.8   72.8   46.1      B      21

[119763 rows x 5 columns]

              NT_GER          NT_FG          NT_CE         CO_IES
count  119763.000000  119763.000000  119763.000000  119763.000000
mean       47.574308      55.459081      44.929381    1256.584914
std        14.690830      17.804924      16.308628    2604.968326
min         0.000000       0.000000       0.000000       1.000000
25%        37.300000      44.300000      33.100000     218.000000
50%        47.600000      56.800000      44.600000     577.000000
75%        57.900000      68.300000      56.500000     917.000000
max        96.400000      99.400000      99.000000   19739.000000

In [53]:
#somente as notas de quem respondeu a questão sobre bolsas
combolsa = combolsa.loc[(ccomp['QE_I13'].notnull())]
combolsa.NT_GER.describe()

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match